
h1 {font-family: 'American Typewriter'; font-size: 40; font-weight: normal;}
h2 {font-family: 'American Typewriter'; font-size: 22; font-weight: bold; letter-spacing: 1px;}
h3 {font-family: 'American Typewriter'; font-size: 17; font-weight: normal; letter-spacing: 0.5px;}
.bigLink {font-family: 'American Typewriter'; font-size: 17; font-weight: normal; letter-spacing: 0.5px;}
body {font-family: 'Helvetica Neue'; font-size:13;}

a:link {color:#3333cc; text-decoration:none;}
a:visited {color:#3333cc; text-decoration:none;}
a:hover {color:#33ccff; text-decoration:none;}
a:active {color:#ccccff; text-decoration:none;}
